<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>MediaTrace Native Host</string>
	<key>CFBundleExecutable</key>
	<string>mediatrace-native-host</string>
	<key>CFBundleIdentifier</key>
	<string>app.mediatrace</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MediaTrace Native Host</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_airplay._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>MediaTrace 使用局域网搜索并连接 DLNA 与 AirPlay 设备。</string>
</dict>
</plist>
